<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>m8_homework_string_range.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22827EAE1C4D3E800040EA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22827EC71C4D3E800040EA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22827ED21C4D3E800040EA13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
